.container {
  position: relative;
  margin-right: auto !important;

 
}

/* .search_container__COjBL{
  margin-right: auto;
} */

.search {
  border: 1px solid #666;
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
 }
 
.result-item {
  color: #eee;
  margin: 0;
}